/*----------Typography*/
body,
button,
input, 
select,
textarea{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6{
	clear: both;
}

p{
	margin-bottom: 1.5em;
}


/*------layout---------*/
.masthead{

	padding: 1em 2em;
	background-color: #0D1B2E;
	
}

.masthead h1{
	text-align: center;
	color: white;
}

.intro{
	padding: 2em 2em;
	color: #ffffff;
	background: #429890;
}



.intro p, .test-area{
	margin: 0 auto;
	max-width: 550px;
	text-align: center;
}



.test-area{
/*	background-color: aqua;  */
	margin-bottom: 4em;
	padding: 0 2em;
}


#origin-text{
	background-color: burlywood;
	max-width: 325px;
	margin-left: 6.25em;
}

#test-area{
	border: 5px solid cadetblue;
	border-radius: 8px;
}

#reset{
	border: 5px solid pink;
	
}



#wordsCount h3{
	position: absolute;
	left: 1150px;
	bottom: 10px;
	color: grey;
}

